name: ci

on:
  pull_request:
    branches: [master, develop]

jobs:
  basic:
    name: Lint and tests
    runs-on: ubuntu-latest
    timeout-minutes: 25
    strategy:
      matrix:
        node-version: [18, 20, 22]
    steps:
      - name: Check out source code
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: "https://registry.npmjs.org"

      - name: Install packages
        run: npm i

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test
